body {
    margin: 0;
}
.bg-content{
    
    /* background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%); */
}
.bg-content .image{
    width: 100%;
    background-blend-mode: soft-light;
    color: #25282b ;
}
.overlay {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
    /* background-position-y: 0%; */
    background-size: cover;
    height: 120%;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 0.3s linear 0s;
    width: 100%;
}
.bg-content .content-top{
    position: absolute;
    top: 0;
    margin: 20px;
}
.bg-content .content-top .category {
    width: 5%;
    height: fit-content;
    display: block;
    margin: auto 0;
}
.bg-content .content-top img:nth-child(2){
    width: 7%;
    margin-left: 35px;
    position: relative;
}
.bg-content .content-top p{
    
    display: block;
    margin: auto;
    font-size: 21px;
    color: #FFF;
    margin-left: 15px;
}
.top-right {
    position: absolute;
    right: 0;
    margin: 20px;
    
    
}
.setting img {
    width: 90%;
}
.content-serch{
    border-radius: 5px;
    display: flex;
    right: 0;
    left: 0;
    top:15%;
    background-color: #FFF;
    position: absolute;
    width: 60%;
    max-height:50px;
    margin:auto;
}
.content-serch input{
    border: none;
    padding:12px;
    border-radius: .5rem 0  0 .5rem;
}
.content-serch button{
    padding: 0 20px;
    border: none;
    background-color: #FFF;
    color: #0078d4;
    font-size: 23px;
    border-radius:  0 .5rem .5rem 0;
}
.content-serch .bing{
    width: 5%;
    background-image: url(./image/bing3.jpg);
    margin: 2px;
    background-repeat: no-repeat;
    background-size: contain;
}
.content-serch input:focus{
    outline: none;
}
.content-bottom{
    position: absolute;
    bottom: 20%;
    right: 0;
    left: 0;
    display: flex;
    /* margin: auto; */
    justify-content: center;
}
.bottom-list {
    display: flex;
}
.bottom-list-item{
    position: relative;
    padding: 10px 30px 0px;
    display: flex;
    flex-direction: row;

}
.bottom-list-item:hover{
    background: rgba(255, 255, 255, 0.26);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bottom-list-item .button-show{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2px;
    padding: 10px;
    cursor: pointer;
    color:white;
    display: flex;
    align-items: center;
    /* display: none; */
}
.btsIcon{
    position: relative;
}

.bottom-list-item .option{
    
    position: absolute;
    right: -88px;
    /* left: 0; */
    z-index: 999;
    /* max-width: 100px; */
    width: 113px;
    border-radius: 5px;
    line-height: 3px;
    top: 20px; 
    background-color: #FFF;
    padding: 10px 10px 0;
    display: none;
}
.bottom-list-item .option p {
    color: #111;
}
.bottom-list-item .option:hover{
    display: block;
}
/* .bottom-list-item .button-show:hover .btsIcon .option{
    display: block;
} */
.button-show{
    
    line-height: 4px;
    letter-spacing: 2px;
}
.button-show i{
    
    /* line-height: 4px; */
    letter-spacing: 2px;
}
.bottom-list-item:hover .button-show{
    display:block;
}
.bottom-list-item:hover .button-show:hover{
    background: rgba(255, 255, 255, 0.486);
    border-radius: 3px;
}
.bottom-list-item p{
    color: #FFF;
}
.bottom-list-item img{
    border-radius: 5px;
}
.bottom-list-item .Pluss{
    margin: auto;
}
