@import 'variable';
body {
    margin: 0;
}
.bg-content{
    
    /* background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%); */
    .image{
        width: 100%;
        height: 100vh;
        background-blend-mode: soft-light;
        color: #25282b ;
    }
    .overlay {
        background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
        /* background-position-y: 0%; */
        background-size: cover;
        height: 100vh;
        opacity: 1;
        position: absolute;
        top: 0px;
        transition: opacity 0.3s linear 0s;
        width: 100%;
    }
    .content-top{
        position: absolute;
        top: 0;
        margin: 20px;
        .category {
            width: 5%;
            height: fit-content;
            display: block;
            margin: auto 0;
        }
        img:nth-child(2){
            width: 7%;
            margin-left: 35px;
            position: relative;
        }
        p{
    
            display: block;
            margin: auto;
            font-size: 21px;
            color: $color-white;
            margin-left: 15px;
        }
    }
    .top-right {
        position: absolute;
        right: 0;
        margin: 20px;
        .setting img {
            width: 90%;
        } 
    }
    .content-serch{
        border-radius: 30px;
        display: flex;
        right: 0;
        left: 0;
        top:15%;
        background-color: $color-white;
        position: absolute;
        width: 58%;
        max-height:50px;
        margin:auto;
        input{
            border: none;
            padding:12px;
            border-radius: 22px;
        }
        input:focus{
            outline: none;
            box-shadow: none;
        }
        button{
            padding: 0 20px;
            border: none;
            background-color: $color-white;
            color: $color-primary;
            font-size: 23px;
            border-radius:  22px;
        }
        .bing{
            width: 5%;
            
            margin: 2px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .content-bottom{
        position: absolute;
        bottom: 22%;
        right: 0;
        left: 0;
        display: flex;
        /* margin: auto; */
        justify-content: center;
        .bottom-list {
            display: flex;
        }
        .bottom-list-item{
            position: relative;
            padding: 10px 30px 0px;
            display: flex;
            flex-direction: row;
            
            .btsIcon{
                position: relative;
            }
            
            .option{
    
                position: absolute;
                right: -88px;
                /* left: 0; */
                z-index: 999;
                /* max-width: 100px; */
                width: 113px;
                border-radius: 5px;
                line-height: 3px;
                top: 20px; 
                background-color: $color-white;
                padding: 10px 10px 0;
                display: none;
                p {
                    color: $color-black;
                }
            }
            .button-show{
                position: absolute;
                top: 2px;
                right: 2px;
                padding: 2px;
                padding: 10px;
                cursor: pointer;
                color:$color-white;
                display: flex;
                align-items: center;
                /* display: none; */
                line-height: 4px;
                letter-spacing: 2px;
                i{
    
                    /* line-height: 4px; */
                    letter-spacing: 2px;
                }
            }
            p{
                color: $color-white;
            }
            img{
                border-radius: 5px;
            }
            .Pluss{
                margin: auto;
            }
        }
        
        .bottom-list-item:hover .button-show:hover{
            background: rgba(255, 255, 255, 0.486);
            border-radius: 3px;
        }
        .bottom-list-item:hover{
            background: rgba(255, 255, 255, 0.26);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }


    }

}


/* .bottom-list-item .button-show:hover .btsIcon .option{
    display: block;
} */

